.lead__title {
  text-align: center;
  font-size: 12.5vw;
  font-weight: 900;
  line-height: 13.75vw;
  margin-top: 0;
  margin-bottom: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / 447);
  }
}
@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 32px;
  }
}
