.lead__fig-caption {
  padding: 8px 0 0 16px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__fig-caption {
    padding-left: calc(16px + (24 - 16) * (100vw - 320px) / 448);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead__fig-caption {
    padding-left: calc(24px + (0 - 24) * (100vw - 769px) / 255);
  }
}
@media screen and (min-width: 1025px){
  .lead__fig-caption {
    padding-left: 0;
  }
}
