.place__website-link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.place__website-link:hover {
  cursor: pointer;
  opacity: 0.8;
}
