.lead__subtitle {
  max-width: 288px;
  text-align: center;
  font-size: 5vw;
  line-height: 6.25vw;
  margin: 0 16px 40px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    max-width: calc(288px + (640 - 288) * (100vw - 320px) / 447);
    font-size: calc(16px + (30 - 16) * (100vw - 320px) / 447);
    line-height: calc(20px + (36 - 20) * (100vw - 320px) / 447);
  }
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
