.footer__nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
    align-items: end;
  }
}
