.footer__nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .footer__nav-list {
    flex-direction: row;
    align-items: end;
  }
}
